<h1>Signup</h1>

<%= form_tag(user_signuppage_path) do %>  
<%= label_tag(:username) %>
<%= text_field_tag :username, params[:username], placeholder: "Username" %><br>
<%= label_tag(:email) %>
<%= text_field_tag :email, params[:email], placeholder: "Email" %><br>
<%= label_tag(:password) %>
<%= password_field_tag :password, params[:password], placeholder: "Password" %><br>
<%= label_tag(:confirmpwd) %>
<%= password_field_tag :confirmpwd, params[:confirmpwd], placeholder:"Confirm Password" %><br>
<%= submit_tag("Signup") %>  
<%= link_to 'Login', user_login_path %>
<% end %>